<div class="form">
   <%= form_for @note do |f| %>
      <div class="form-group">
         <div class="input-group input-group-lg">
            <span class="input-group-addon">description</span>
            <%= f.text_area :notes, :class => "form-control", :rows => 20, :style => "height: auto" %>
         </div>
      </div>
      <div class="form-group">
         <%= f.submit %>
      </div>
   <% end %>
</div>
