<div class="panel panel-primary">
   <div class="panel-heading"><h2>edit user notes <%= link_to "back to " + @view_user.name, user_path(@view_user), :class => "btn btn-success" %></h2></div>
   <div class="panel-body">
      <%= render partial: 'form', locals: {_target: user_info_url(@note.user), _method: :patch} %>
   </div>
</div>


