<h1>wishlist!</h1>

<table id="statuses" class="display">
   <thead>
      <tr><td>status</td><td>note</td><td>added by</td></tr>
   </thead>
   <tbody>
      <%= render @statuses %>
   </tbody>
</table>
<script>
   $(document).ready( function () {
      $("#statuses").DataTable({
             paging: false
             search: {regex: true}
          });
   } );
</script>
