<% view_user = User.view_user(session) %>

<% if @status and @status.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>
      <ul>
         <% @status.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<div class="panel panel-primary">
   <div class="panel-heading"><h2>new status</h2></div>
   <div class="panel-body">
      <%= render partial: 'form', locals: {_target: statuses_path, _method: :post} %>
   </div>
</div>

<%= link_to "back to " + view_user.name, user_path(view_user), :class => "btn btn-success btn-lg" %>
