<h1>wishlist!</h1>

<% if current_user %>
   <h2>user:
      <%= @user.name %>
   </h2>

   <h2>families:</h2>
   <% @families.each do |family| %>
      <%= link_to family.name, family_path(family.id) %><br>
   <% end %>
<% else %>
   <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<% end %>
