<% if current_user %>

   <ol class="breadcrumb">
      <li><%= link_to current_user.name, user_path(current_user) %></li>
      <li class="active">my families</li>
   </ol>

   <div class="panel panel-primary">
      <div class="panel-heading">
         <h2 class="panel-title">families</h2>
      </div>
      <div class="panel-body">
         <div class="btn-group-vertical">
            <% @families.each do |family| %>
               <% color = family.updated?(current_user) ? "info" : "success" %>
               <%= link_to family.name, family_path(family.id), class: "btn btn-%s btn-lg" % color %>
            <% end %>
         </div>
      </div>
   </div>

<% else %>

   <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>

<% end %>
