<ol class="breadcrumb">
   <li><%= link_to current_user.name, user_path(current_user) %></li>
   <li><%= link_to "my families", families_path %></li>
   <li class="active"><%= @family.name %></li>
</ol>

<div class="panel panel-primary">
   <div class="panel-heading">
      <h2 class="panel-title">family members</h2>
   </div>
   <div class="panel-body">
      <div class="btn-group-vertical">
         <% @members.each do |member| %>
            <%= link_to member.name, user_path(member.id), class: "btn btn-success btn-lg" %>
         <% end %>
      </div>
   </div>
</div>
