<% view_user = User.view_user(session) %>

<div class="panel panel-primary">
   <div class="panel-heading"><h2>edit gift <%= link_to "back to " + view_user.name, user_path(view_user), :class => "btn btn-success btn" %></h2></div>
   <div class="panel-body">
      <%= render partial: 'form', locals: {_target: gift_url(@gift), _method: :patch} %>
   </div>
</div>


