<% if @gift and @gift.errors.any? %>
         <ul class="list-group">
            <li class="list-group-item list-group-item-danger">validation errors</li>
            <% @gift.errors.full_messages.each do |msg| %>
               <li class="list-group-item"><%= msg %></li>
            <% end %>
         </ul>
<% end %>

<div class="panel panel-primary">
   <div class="panel-heading"><h2>new gift <%= link_to "back to " + @view_user.first_name(), user_path(@view_user), :class => "btn btn-success" %></h2></div>
   <div class="panel-body">
      <%= render partial: 'form', locals: {_target: gifts_path, _method: :post} %>
   </div>
</div>
