<h1>new gift</h1>

<%= link_to "gifts list", action: :index %>

<% if @gift and @gift.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>
      <ul>
         <% @gift.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<%= render partial: 'form', locals: {_target: gifts_path, _method: :post} %>
