<%= link_to "gifts", action: :index %>

<p>
<strong>status:</strong>
<%= @gift.status %>
</p>

<p>
<strong>description:</strong>
<%= @gift.description %>
</p>

<p>
<strong>link:</strong>
<%= @gift.link %>
</p>
