<%= link_to User.find(session[:view_id]).name, user_path(session[:view_id]) %>

<p>
<strong>status:</strong>
<%= @gift.status %>
</p>

<p>
<strong>description:</strong>
<%= @gift.description %>
</p>

<p>
<strong>link:</strong>
<%= @gift.link %>
</p>
