<h4>Written by Andy Webber</h4>

<h2>Version History</h2>
<ul>
   <li>
      <h4>2.3 2018/11/26</h4>
      <ul>
         <li>Restored view gone item check by default</li>
      </ul>
   </li>
   <li>
      <h4>2.2 2018/11/25</h4>
      <ul>
         <li>Expanded gift input boxes</li>
         <li>Added birthday family view</li>
         <li>Automatically extract links out of descriptions</li>
      </ul>
   </li>
   <li>
      <h4>2.1 2015/12/28</h4>
      <ul>
         <li>Rebranded as donum(us)</li>
      </ul>
   </li>
   <li>
      <h4>2.0 2015/06/03</h4>
      <ul>
         <li>Rewrite of the Wishlist from 2000</li>
         <li>Multi-family capability</li>
      </ul>
   </li>
</ul>
